@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@font-face {
  font-family: "Star Wars";
  src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/star-wars.woff);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.snip1217 {
  font-weight: 500;
  letter-spacing: 1px;
}
.snip1217 * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}
.snip1217 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
}
.snip1217 a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.snip1217 a:before {
  height: 3px;
  position: absolute;
  content: "";
  transition: all 0.35s ease;
  background-color: #FFC900;
  width: 0;
  top: 0;
  left: 0;
}
.snip1217 a:after {
  height: 3px;
  position: absolute;
  content: "";
  transition: all 0.35s ease;
  background-color: #FFC900;
  width: 0;
  bottom: 0;
  right: 0;
}
.snip1217 a:hover {
  color: rgb(240, 240, 240);
}
.snip1217 a:hover:before {
  width: 100%;
}
.snip1217 a:hover:after {
  width: 100%;
}
.snip1217 .current a {
  color: rgb(240, 240, 240);
}
.snip1217 .current a:before {
  width: 100%;
}
.snip1217 .current a:after {
  width: 100%;
}

body {
  font-family: "Play", sans-serif;
  color: rgb(240, 240, 240);
  margin: 0;
  background-color: rgb(58, 58, 58);
  background: url("../assets/img/bg.png") repeat top center;
}

h1 {
  font-size: 3rem;
  font-family: "Star Wars";
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 20px;
}

p {
  padding: 5px;
}

a {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-style: normal;
}

#hero {
  position: relative;
  background: url("../assets/img/mortis.jpg") no-repeat center center;
  background-color: rgb(26, 26, 26);
  background-size: cover;
  padding-top: 14rem;
  padding-bottom: 14rem;
  font-family: "Star Wars";
  letter-spacing: 1px;
  color: rgb(240, 240, 240);
  text-align: center;
  text-shadow: 10px 10px 10px rgb(26, 26, 26);
}

.contenedor {
  position: relative;
  background-color: rgb(26, 26, 26);
  min-height: 75vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}
.galeria img {
  width: 26%;
  padding: 5px;
  background-image: linear-gradient(to bottom, rgb(240, 240, 240), rgb(58, 58, 58));
}

.contenido {
  padding: 10px;
  width: 100%;
  font-size: 18px;
}
.contenido img {
  width: 100%;
  padding: 10px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-image: linear-gradient(to bottom, rgb(240, 240, 240), rgb(58, 58, 58));
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.timeline .time_container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.timeline .content img {
  width: 80%;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}
.right::after {
  left: -16px;
}

.content {
  padding: 20px 20px;
  background-color: rgb(58, 58, 58);
  background-image: linear-gradient(to top, rgb(240, 240, 240), rgb(58, 58, 58));
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }
  .time_container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .right {
    left: 0%;
  }
  .content {
    width: 200%;
  }
  .galeria img {
    width: 80%;
  }
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#copy {
  text-align: right;
  padding: 20px;
  font-size: 18px;
}

a svg:hover #github {
  fill: #FFC900;
}

a svg #github {
  fill: rgb(240, 240, 240);
  transition: 350ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 350ms;
  -webkit-transition-timing-function: ease-in-out;
}/*# sourceMappingURL=style.css.map */