body {
    font-family: 'Play', sans-serif;
    color: $blanco;
    margin: 0;
    background-color: $gris58;
    background: url("../assets/img/bg.png") repeat top center
}

h1 {
    font-size: 3rem;
    font-family: "Star Wars";
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 20px;
}

p {
    padding: 5px;
}

a {
    text-decoration: none;
    color: $blanco;
    font-style: normal;
}

#hero {
    position: relative;
    background: url("../assets/img/mortis.jpg") no-repeat center center;
    background-color: $negro;
    background-size: cover;
    padding-top: 14rem;
    padding-bottom: 14rem;
    font-family: "Star Wars";
    letter-spacing: 1px;
    color: $blanco;
    text-align: center;
    text-shadow: 10px 10px 10px $negro;
}

.contenedor {
    position: relative;
    background-color: $negro;
    min-height: 75vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contenido {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    
    img{
        width: 100%;
        padding: 10px;
    }
}